*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
a{
    text-decoration: none;
}
header {
    background-color:#06172e;
    padding: 2vh 15vw;
    display: grid;
    grid-template-columns: 15% 60% 25%;
}
.highlight{
    background-color: rgb(105, 152, 55);
    border-radius: 10px;
}
#nav-title{
    font-size: 2.2vw;
}
.navbar, .nav-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.navbar a{
    font-size: 1vw;
    padding: 2%; 
}
.nav-button a{
    font-size: 1vw;
    padding: 4%; 
}
.navbar a:hover{
    background-color: rgb(105, 152, 55);
    border-radius: 10px;
}
.primary-section{
    box-sizing: border-box;
    padding: 2vh 15vw;
    width:100%;
    background-color:#06172e;
    display: flex;
}
.secondary-section{
    padding-top: 10vh;
    box-sizing: border-box;
    padding: 2vh 15vw;
    width:100%;
    background: #070620;
    display: flex;
}
.primary-section-content{
    margin-top: 5vh;
}
.content-line-1{
    font-size: 1.2vw;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: green;
}
.content-text-large{
    margin-top: 2vh;
    font-size: 3.6vw;
    margin-bottom: 2vh;
    font-family: Franklin Gothic Medium;
}
.content-text-medium{
    font-size: 1.4vw;
}
.button-primary{
    margin-top: 5vh;
}
.button-primary a{
    padding: 2%;
}
#primary-section-img {
    width: 32vw;
    margin-left: 5vw;
    margin-top: 2vh;
}
#secondary-section-img{
    margin-top: 3vh;
    width: 29vw;
}
.secondary-section-content{
    margin-left: 3vw;
}
.card-container-outer{
    background-color:#06172e;
    padding: 10vh 15vw;
}
.card-container-head{
    text-align: center;
    font-size: 3.5vw;
}
.card-container-description{
    margin: 0vh 17vw;
    font-size: 1.5vw;
    text-align: center;
}
.card-container{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1.5vw;
}
.card {
    display: flex;
    flex-direction: column;
    border:1px solid #254334;
    border-radius: 4%;
}
.card-container .card:hover {
    border: 2px solid green;
}
.card-main{
    border: 1px solid #254334;
    border-radius: 4% 4% 0vh 0vh;
    padding: 6vh 0vw 8vh 3vw;
    height: 11vh;
}
.match_img{
    width: 5vw;
}
.card-mid{
    display: flex;
    background: #06172e;
    margin: 2vh 2vw;
    padding: 2vh 1vw;
    justify-content: center;
    width: 10vw;
    border: 1px solid #254334;
    border-radius: 2vw;
}
.card-mid-img{
    width: 1.6vw;
}
.card-mid-line {
    color: green;
    margin: 0.4vw;
    font-size: 1vw;
}
.card-foot {
    padding: 8vh 1vw 4vh 3vw;
}
.card-date {
    color: greenyellow;
    font-size: 0.8vw;
}
.card-text-large {
    margin-top: 2vh;
    font-size: 1.2vw;
}
.card-foot-end {
    margin-top: 2vh;
    color: green;
    font-size: 0.8vw;
}
#button-secondary {
    text-align: center;
    margin: 5vh;
}
#button-secondary a {
    font-size: 1.2vw;
    padding: 1vh;
}
.row-container {
    padding: 10vh 0vw;
    padding: 10vh 15vw;
    background: #070620;
}
.container-info {
    display: flex;
    justify-content: space-between;
    border: 2px #254334 solid;
    padding: 2% 5%;
}
.row-head {
    text-align: center;
    font-size: 3.5vw;
}
.row-content {
    background:rgb(105, 152, 55);
    margin-left: 1vw;
    width: fit-content;
    border-radius: 2vw;
    padding: 5%;
    font-size: 0.5vw;
}
.foot-outer {
    background-color: #06172e;
    height: 10vh;
}
.foot-begin {
    padding: 2vh 12vw;
    padding-bottom: 10vh;
    background: #070620;
}
.foot-begin-container {
    background: green;
    border-radius: 1vw;
    display: flex;
    padding: 3%;
}
.foot-begin-left {
    width: 50%;
}
.foot-begin-text-large {
    font-size: 2vw;
}
.foot-begin-text-medium {
    font-size: 1vw;
}
.foot-begin-right {
    display: flex;
    margin-top: 3vh;
    background: white;
    border-radius: 0.6vw;
    padding: 1%;
    margin-left: 4vw;
    /* color: green; */
}
.foot-begin-right-button {
    display: flex;
    background: black;
    border-radius: 0.4vw;
    padding: 2% 1%;
}
.input :focus {
    outline: none;
    width: 10vw;
}
.right-button {
    font-size: 1.3vw;
}
#button-img {
    height: 2.2vh;
    width: 1.3vw;
    margin-top: 0.4vh;
    color: white;
}
.foot-end{
    padding-top: 10vh;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-gap: 1vw;
}
.end-head {
    font-size: 2vw;
    margin-bottom: 5vh;
}
.col2-head1 {
    color: greenyellow;
    margin-bottom: 2vh;
}

.col2-head2 {
    color: greenyellow;
    margin: 2vh 0;
}
.col3-items p{
    margin: 2vh 0;
}
.foot-end-col {
    width: 20vw;
}